# Application
NODE_ENV=development

# API
API_PORT=3333

# Database
DATABASE_URL=
DIRECT_URL=

# Frontend
FRONTEND_URL=http://localhost:5173

# Authentication
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION_DAYS=7

# SMTP
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=

# Supabase
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=